<%= simple_form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputs">
    <%= f.input :question, :as => :text, :input_html => { :rows => 3} %>
    <%= f.input :answer, :input_html => { :rows => 10 } %>
    <%= f.input :category, :collection => ['About the Drive', 'Technical Issues'] %>
    <%= f.input :position %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
