<% title "Questions" %>
<% admin_page %>


<div class="links">
  <%= link_to 'New Question', new_question_path %>
</div>

<h1>Questions</h1>


<%= form_tag questions_path, :method => 'get', :id => "questions_search", :class => "search_form" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
  <div id="questions"><%= render 'questions' %></div>
<% end %>

