<table id="donors_table" class="index">
  <caption style="overflow:hidden;">
  <span style="float:left;"><%= page_entries_info( @donors ).html_safe %></span>
  <%= will_paginate @donors %></caption>
  
  <thead>
  <tr>
    <th><%= sortable "order_number" %></th>
    <th><%= sortable "created_at" %></th>
    <th><%= sortable "downloads_count", "Downloads" %></th>
  </tr>
  </thead>
  
  <tfoot>
  	<tr>
  		<td colspan="8"><%= will_paginate @donors %></td>
  	</tr>
  </tfoot>
  
  <tbody>
<% @donors.each do |donor| %>
  <tr>
    <td><%= link_to '', donor_path(donor) %><%= donor.order_number %></td>
    <td><%= donor.created_at.to_formatted_s(:long) %></td>
    <td><%= donor.downloads_count %></td>
  </tr>
<% end %>
</tbody>
</table>



<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
