
<%= simple_form_for @donor do |f| %>

<%= f.input :full_name %>
<%= f.input :address1 %>
<%= f.input :address2 %>
<%= f.input :city %>
<%= f.input :state %>
<%= f.input :zip %>
<%= f.input :country, :priority => [ "United States"] %>

<p>Also please give us your email address so we can contact you should there be any problems</p>

<%= f.input :email %>

<%= f.submit :value => 'Submit' %>

<% end %>