<h1>Thank You!</h1>

<%= snippet 'Thank You - Greeting' %>

<% if @is_mobile %>
<div class="beware">
<%= snippet 'Beware - Mobile Devices' %>
</div>

<% else %>

<div class="ordernumber">


  <div class="beware">
    <%= snippet 'Beware - Work Computer' %>
  </div>

  <div class="beware">
    <%= snippet 'Beware - Cookies Required' %>
  </div>

<%= simple_form_for @donor, :url => submit_registration_donors_path do |f| %>

  <%= f.input :order_number,
      :label => 'Enter Your Order Number Below',
      :hint => 'Each order number is only valid on one computer.',
      :input_html => {
          :maxlength => 50,
          :size => 50
      } 
  %>
  <%= f.submit 'Get Your Pomplamoose Christmas Album' %>
<% end %>
</div>
<% end %>

<% if !@is_mobile %>
<div class="email_image">
<%= image_tag 'email.png' %>
</div>
<% end %>