<table id="snippets_table" class="index">
  <caption style="overflow:hidden;">
  <span style="float:left;"><%= page_entries_info( @snippets ).html_safe %></span>
  <%= will_paginate @snippets %></caption>
	
  <thead>
  <tr>
    <th><%= sortable 'id' %></th>
    <th><%= sortable 'name' %></th>
    <th><%= sortable 'created_at' %></th>
  </tr>
  </thead>

  <tfoot>
  	<tr>
  		<td colspan="8"><%= will_paginate @snippets %></td>
  	</tr>
  </tfoot>

  <tbody>
<% @snippets.each do |snippet| %>
  <tr>     
    <td><%= link_to '', snippet_path(snippet) %><%= snippet.id %></td>
    <td><%= snippet.name %></td>
    <td><%= snippet.created_at.to_formatted_s(:long) %></td>
  </tr>
<% end %>
</tbody>
</table>


<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
