<%= simple_form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputs">
    
    <%= f.input :url,
        :hint => "Direct URL to the article on the publication website. DO NOT LINK TO THE HOMEPAGE OF A BLOG OR WEBSITE. You want the link that will always go directly to the article, even after it goes off the homepage...",
        :input_html => {
            :style => "width:100%;"
        }
    %>
    
    <%= f.input :title,
        :hint => "The headline of the article",
        :input_html => {
            :style => "width:100%;"
        }
    %>
    
    <%= f.input :date,
        :hint => "The publication date, not today unless it was published today!"
    %>
        
    <%= f.input :source,
        :hint => "The name of the publication"
    %>
    
    <%= f.input :author,
        :hint => "The author's full name (e.g. John Smith)"
    %>
    
    <%= f.input :summary,
        :hint => "Copy and paste the first paragraph or so...",
        :input_html => {
            :rows => 5
        }
    %>
    
    <%= f.input :embed,
        :hint => "If there is a video and they allow you to get the embed code for sharing on your site, drop that code in here:",
        :input_html => {
            :rows => 15
        }
    %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
