<p id="notice"><%= notice %></p>

<div class="links">
<%= link_to 'Edit', edit_copy_path(@copy) %> |
<%= link_to 'Back', copies_path %>
</div>

<p>
  <b>Book:</b>
  <%= @copy.book_id %>
</p>

<p>
  <b>Catalogger:</b>
  <%= @copy.catalogger_id %>
</p>

