<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gift.name %>
</p>

<p>
  <b>Description:</b>
  <%= @gift.description %>
</p>

<%= link_to 'Download', download_gift_path(@gift) %> | 

<%= link_to 'Edit', edit_gift_path(@gift) %> |
<%= link_to 'Back', gifts_path %>
