<% title "Gift " @gift.id %>

<p>
  <b>Name:</b>
  <%= @gift.name %>
</p>

<p>
  <b>File Name:</b>
  <%= @gift.attachment.original_filename %>
</p>

<p>
  <b>File Type:</b>
  <%= @gift.attachment.content_type %>
</p>

<p>
  <b>File Size:</b>
  <%= number_to_human_size( @gift.attachment.size ) %>
</p>

<div class="links">
  <%= link_to 'Download', download_gift_path(@gift) %> | 
  <%= link_to 'Edit', edit_gift_path(@gift) %> |
  <%= link_to 'Back', gifts_path %>
</div>
