<% title "About" %>
<% hold_flash_notices %>

<h1>The Mission</h1>

<%= snippet 'About - Mission' %>

<br style="clear:left;" />
<h1>The Schools</h1>

<%= snippet 'About - Schools' %>




<% School.order(:name).each do |school| %>

<div class="school">
<h3><%= school.name %></h3>
<p><%= link_to school.website_url, school.website_url %></p>
<ul>
  <li><span><%= number_with_delimiter school.students %></span> students</li>
  <li><span><%= number_to_percentage school.proficiency, :precision => 0 %></span> proficient or advanced on English language arts state tests</li>
  <li><span><%= number_to_percentage school.lunch_eligibility, :precision => 0 %></span> eligible for free or reduced-price lunch</li>
</ul>
<p>Profile of <%= school.name %> on <%= link_to "GreatSchools.org", school.greatschools_url  %></p>
</div>

<% end %>



<%= snippet 'About - Ambassadors' %>

<table class="schoolstats">
  <tbody>
  <tr>
    <th rowspan="3">California State Averages for English Language Arts state tests in 2009-2010 school year</th>
    <td>Elementary Schools</td><td>55%</td></tr>
  <tr><td>Middle Schools</td><td>55%</td></tr>
  <tr><td>High Schools</td><td>47%</td></tr>
  </tbody>
</table>
