<% title "About" %>

<h1>The Mission</h1>

<p class="mission">In the United States, literacy is a prerequisite for accessing meaningful opportunities.  Conversely, the lack of literacy skills can have disastrous consequences.  A study found that “The educational careers of 25 to 40 percent of American children are imperiled because they don’t read well enough, quickly enough, or easily enough.”<br /><br />The mission of the Richmond Book Drive is to put compelling, relevant books into the hands of young people throughout the City of Richmond, California.  We aim to provide students — be they reluctant or voracious readers — with books that they will love, books that will turn them into lifelong readers and learners. In the process, we hope to spread the message that all students are worthy of investment, that none are beyond repair, and that ours is a city full of curiosity and hope.</p>

<h1>The Schools</h1>

<p>The following schools in Richmond are the lucky beneficiaries of your book donations! Here is some information about the schools and the students your donation will be impacting.</p>





<% School.order(:name).each do |school| %>

<div class="school">
<!--<h3><%= link_to school.name, school.website_url, :target => "_blank" %></h3>-->
<h3><%= school.name %></h3>
<p><%= link_to school.website_url, school.website_url, :target => "_blank" %></p>
<ul>
  <li><span><%= number_with_delimiter school.students %></span> students</li>
  <li><span><%= number_to_percentage school.proficiency, :precision => 0 %></span> proficient or advanced on English language arts state tests</li>
  <li><span><%= number_to_percentage school.lunch_eligibility, :precision => 0 %></span> eligible for free or reduced-price lunch</li>
</ul>
<p>Profile of <%= school.name %> on <%= link_to "GreatSchools.org", school.greatschools_url, :target => "_blank"  %></p>
</div>

<% end %>



<p>There are Richmond Book Drive Ambassadors at each of these school sites who will work diligently to ensure that the books are cared for and used as effectively as possible to inculcate a love of reading among Richmond's terrific young people. Thank you for your support!</p>

<table class="schoolstats">
  <caption>California State Averages for English Language Arts state tests in 2009-2010 school year</caption>
  <tbody>
  <tr><td>Elementary Schools</td><td>55%</td></tr>
  <tr><td>Middle Schools</td><td>55%</td></tr>
  <tr><td>High Schools</td><td>47%</td></tr>
  </tbody>
</table>
