<% title "FAQ" %>

<% hold_flash_notices %>

<img src="/images/img0657_200.jpg" width="200" height="150" alt="Books on desks" style="float:right;margin: 0 0 25px 25px;" />

<h1>About The Drive</h1>



<% Question.where(:category => "About the Drive").order("position ASC").each do |question| %>
  <h2><%= question.question %></h2>
  <p><%= question.answer.html_safe %></p>
<% end %>

<br /><br />

<h1>Technical Issues</h1>


<% Question.where(:category => "Technical Issues").order("position ASC").each do |question| %>
  <h2><%= question.question %></h2>
  <p><%= question.answer.html_safe %></p>
<% end %>

<br />

<p><i>Still got questions? Shoot an email to <%= link_to "richmondbookdrive@gmail.com", "mailto:richmondbookdrive@gmail.com" %> and hopefully we’ll have an answer for you!</i></p>