<% title "Home" %>

<% hold_flash_notices %>

<% content_for :video do %>
<div id="video">
<object width="640" height="385"><param name="movie" value="http://www.youtube.com/v/wcVkb8kJLJE?fs=1&amp;hl=en_US&amp;rel=0&amp;hd=1<%- if ENV['RAILS_ENV'] == 'production' %>&amp;autoplay=1<%- end %>"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/wcVkb8kJLJE?fs=1&amp;hl=en_US&amp;rel=0&amp;hd=1<%- if ENV['RAILS_ENV'] == 'production' %>&amp;autoplay=1<%- end %>" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>
</div>
<% end %>

<% content_for :library do %>
<div id="section" class="home">

  <div style="float:right;">
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_donations">
  <input type="hidden" name="business" value="richmondbookdrive@gmail.com">
  <input type="hidden" name="lc" value="US">
  <input type="hidden" name="item_name" value="Richmond Book Drive">
  <input type="hidden" name="no_note" value="0">
  <input type="hidden" name="currency_code" value="USD">
  <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
  <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
  </div>

  <h2>Help LPS-Richmond get a library for all of your donated books!</h2>
  <h2><%= link_to "Learn more...", library_path %></h2>
  
  
</div>
<% end %>

<div class="home">
  <h3><%= number_with_delimiter Donor.count %> donors &nbsp;&nbsp;|&nbsp;&nbsp; <%= number_with_delimiter Book.sum(:total_book_count) %> books</h3>

<ol>
  <li><span>Step 1</span><b><%= link_away "Visit the Wish List", "http://www.amazon.com/registry/wishlist/1WJWNVAVRKJVO?reveal=unpurchased&filter=all&sort=priority&layout=standard&x=12&y=8" %></b> on Amazon.com to select and purchase a book (or books!) for Richmond&rsquo;s students.</li>
  <li><span>Step 2</span>Make sure to select Richmond Book Drive as the shipping address.</li>
  <li><span>Step 3</span>Once you&rsquo;ve completed your order, visit the <b><%= link_to "Thank You", thankyou_path %></b> page to download Pomplamoose's Christmas Album.</li>
</ol>

<div class="wl_link">
<%= link_away 'View the Wish List on Amazon.com', 'http://www.amazon.com/registry/wishlist/1WJWNVAVRKJVO?reveal=unpurchased&filter=all&sort=priority&layout=standard' %>
</div>

<p class="help">Need Help? Check out our <b><%= link_to "FAQ", faq_path %></b> or<br /> email us at <%= link_to "richmondbookdrive@gmail.com", "mailto:richmondbookdrive@gmail.com" %></p>


</div>



