<% title "LPS-Richmond Library" %>


<h1 style="font-size:148%">Can you help Leadership Public Schools - Richmond get a library?</h1>


<div style="break:left;">
<%= Snippet.find_by_name('LPS-Richmond Library - Short Story').content.html_safe %>
</div>

<div class="library_donate">

  <%= render :partial => '/layouts/paypal_button' %>

  <div class="donation_values">
  <%= Snippet.find_by_name('LPS-Richmond Library - Donation Values').content.html_safe %>
  </div>

  <div style="text-align: center; position:relative; overflow:hidden;margin: 0 0 15px 70px;">
  <%= render :partial => '/layouts/thermometer' %>
  </div>

</div>

<img src="/images/img0644_250.jpg" width="250" height="188" alt="Books and Students" style="float:left;margin: 0 15px 7px 0;" />

<%= Snippet.find_by_name('LPS-Richmond Library - Long Story').content.html_safe %>

