<% title "LPS-Richmond Library" %>

<h1 style="font-size:148%">Can you help Leadership Public Schools - Richmond get a library?</h1>

<div class="library_donate">
  <div style="font-size: 121%;">
  <%= snippet 'Library - Short Story' %>
  </div>

  <%= render :partial => '/layouts/paypal_button', :locals => { :donatebutton_page => 'library' }  %>

  <div class="donation_values">
  <%= snippet 'Library - Donation Values' %>
  </div>

  <div style="position:relative; overflow:hidden;">
  <%= render :partial => '/layouts/thermometer' %>
  </div>
  <p class="thankyou">Visit the <b><%= link_to "Thank You Page", thankyou_path %></b> to download the Pomplamoose Christmas Album after making a donation.</p>

</div>

<img src="/images/img0644_250.jpg" width="250" height="188" alt="Books and Students" style="float:right;margin: 0 0 7px 15px;" />


<%= snippet 'Library - Long Story' %>

<div class="cost_breakdown">
<%= snippet 'Library - Cost Breakdown' %>
</div>
