<% title "LPS-Richmond Library" %>

<h1 style="font-size:148%">Can you help Leadership Public Schools - Richmond get a library?</h1>

<div class="library_donate">
  <div style="font-size: 121%;margin-top: 10px;margin-left:10px;">
  <%= snippet 'Library - Short Story' %>
  </div>

  <%= render :partial => '/layouts/paypal_button', :locals => { :donatebutton_page => 'library' }  %>

  <div class="donation_values">
  <%= snippet 'Library - Donation Values' %>
  </div>

  <div style="text-align: center; position:relative; overflow:hidden; margin: 0 0 15px 10px;">
  <%= render :partial => '/layouts/thermometer' %>
  </div>
  <p><i>Visit the <%= link_to "Thank You Page", thankyou_path %> to download the Pomplamoose Christmas Album after making a donation.</i></p>

</div>

<img src="/images/img0644_250.jpg" width="250" height="188" alt="Books and Students" style="float:right;margin: 0 0 7px 15px;" />


<%= snippet 'Library - Long Story' %>

<div class="cost_breakdown">
<%= snippet 'Library - Cost Breakdown' %>
</div>
