<% title "Schools" %>

<h1>The Mission</h1>

<p>In the United States, literacy is a prerequisite for accessing meaningful opportunities.  Conversely, the lack of literacy skills can have disastrous consequences.  A study found that &ldquo;The educational careers of 25 to 40 percent of American children are imperiled because they don’t read well enough, quickly enough, or easily enough.&rdquo;  The mission of the Richmond Book Drive is to put compelling, relevant books into the hands of young people in middle and high schools throughout the City of Richmond, California.  We aim to provide students &mdash; be they reluctant or voracious readers &mdash; with books that they will love, book that will turn them into lifelong readers and learners. In the process, we hope to spread the message that all students are worthy of investment, that none are beyond repair, and that ours is a city full of curiosity and hope.<p/>

<h1>The Schools</h1>

<p>The following schools in Richmond are the lucky beneficiaries of your book donations! Here is some information about the schools and the students your donation will be impacting.</p>

<div class="school">
<h3><%= link_to "Kennedy High School", "http://www.kennedyeagles.net" %></h3>
<ul>
<li>Averaged 21% proficient or advanced on English language arts state tests in 2009-2010 school year (State avg. for grades served = 47%)</li>
<li>67% of students are eligible for free or reduced-price lunch</li>
<li>More information on <%= link_to "GreatSchools.org", "http://www.greatschools.org/california/richmond/588-Kennedy-High-School" %></li>
</ul>
</div>

<div class="school">
<h3><%= link_to "Lovonya DeJean Middle School", "http://www.wccusd.k12.ca.us/dejean/" %></h3>
<ul>
  <li>Averaged 26% proficient or advanced on English language arts state tests in 2009-2010 school year (State avg. for grades served = 55%)</li>
<li>83% of students are eligible for free or reduced-price lunch</li>
<li>More information on <%= link_to "GreatSchools.org", "http://www.greatschools.org/california/richmond/12505-Lovonya-Dejean-Middle-School/" %></li>
</ul>
</div>

<div class="school">
<h3><%= link_to "Leadership Public Schools - Richmond", "http://www.leadps.org/our-schools/richmond/" %></h3>
<ul>
<li>Averaged 26% proficient or advanced on English language arts state tests in 2009-2010 school year (State avg. for grades served = 47%)</li>
<li>86% of students are eligible for free or reduced-price lunch</li>
<li>More information on <%= link_to "GreatSchools.org", "http://www.greatschools.org/california/richmond/12278-Leadership-Public-Schools--Richmond/" %></li>
</ul>
</div>

<div class="school">
<h3><%= link_to "Richmond High", "http://www.wccusd.k12.ca.us/richmond_high_school/index.shtml" %></h3>
<ul>
<li>Averaged 20% proficient or advanced on English language arts state tests in 2009-2010 school year (State avg. for grades served = 47%)</li>
<li>78% of students are eligible for free or reduced-price lunch</li>
<li>More information on <%= link_to "GreatSchools.org", "http://www.greatschools.org/california/richmond/607-Richmond-High-School/" %></li>
</ul>
</div>


<p>There are Richmond Book Drive Ambassadors at each of these school sites who will work diligently to ensure that the books are cared for and used as effectively as possible to inculcate a love of reading among Richmond's terrific young people. Thank you for your support!</p>