<table id="books_table" class="index">
  <caption style="overflow:hidden;">
  <span style="float:left;"><%= page_entries_info( @books ).html_safe %></span>
  <%= will_paginate @books %></caption>
	
  <thead>
  <tr>
    <th><%= sortable 'title' %></th>
    <th><%= sortable 'author' %></th>
    <th><%= sortable 'amazon_cover_type', 'Cover' %></th>
    <th><%= sortable 'amazon_price', 'Price' %></th>
    <th><%= sortable 'amazon_wl_priority', 'Priority' %></th>
    <th><%= sortable 'books_in_set', 'Set' %></th>
  </tr>
  </thead>

  <tfoot>
  	<tr>
  		<td colspan="8"><%= will_paginate @books %></td>
  	</tr>
  </tfoot>

  <tbody>
<% @books.each do |book| %>
  <tr>
    <td><%=  link_to '', book_path(book) %><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= book.amazon_cover_type %></td>
    <td><%= number_to_currency book.amazon_price %></td>
    <td><%= book.amazon_wl_priority %></td>
    <td><%= book.books_in_set %></td>
  </tr>
<% end %>
</tbody>
</table>


<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
