<% title "Books &raquo; " + @book.title %>
<% admin_page %>


<div style="overflow: hidden;">
<div class="links" style="float: left;">
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
</div>

<div style="float: right">
<%= form_tag books_path, :method => 'get', :id => "books_search_remote", :class => "search_form_remote" do %>
  <p>
    <%= text_field_tag :search, params[:search],
        :style => "padding: 3px 5px; margin-left: 15px; font-size: 108%;"
    %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
</div>
</div>

<div class="show_book">

<% if @book.amazon_image_original_url.present? %>
  <%= image_tag @book.amazon_image_original_url, :class => 'book_cover', :alt => @book.title %>
<% end %>


<h1><%= @book.title %></h1>
<% if @book.author.present? %>
<h2><%= @book.author %></h2>
<% end %>


<div class="left">

<div class="statbox wishlist">
  <h3>Wish List Status</h3>
  <ul class="list">
    <li><span>Complete</span> <em><%= @book.copies_desired > 0 && @book.copies_received >= @book.copies_desired  ? "Yes" : "No" %></em></li>
    <li><span>Desired</span> <em><%= @book.copies_desired %></em></li>
    <li><span>Received</span> <em><%= @book.copies_received %></em></li>
    <li><span>Delivered</span> <em><%= @book.copies_delivered %></em></li>
    <li><span>Dollars</span> <em><%= number_to_currency @book.dollars_donated %></em></li>
    <li><span>Total Books</span> <em><%= @book.total_book_count %></em></li>
  </ul>
</div>

<div class="statbox copies">
  <h3>Copies Delivered</h3>
  <%= simple_form_for @copy, :url => book_copies_path(@book) do |f| %>
    <div class="actions copy_actions" style="overflow: hidden;">
      
      <div style="float: left; margin: 0;padding: 0;">
        <%= f.input :copy_count,
            :collection => 1..99,
        %>
      </div>
      
      <div style="float: left; margin: 2px 0 0 5px;padding: 0;">
        <%= f.button :submit,
            :value => "Copies Delivered"
        %>
      </div>
    
    </div>
  <% end %>
  <ul class="list">
    <% @book.copies.joins(:user).order("created_at DESC").each do |copy| %>
    <li><span><%= copy.created_at.to_formatted_s(:mdhm) %></span> <em><%= copy.user.email.sub(/\@.+/,'').slice(0,10) %> <%= link_to '[x]', book_copy_path(@book, copy), :confirm => 'Are you sure?', :method => :delete %></em></li>
    <% end %>
  </ul>
</div>

</div>



<div class="book_info">
  <div class="statbox">
  <h3>Amazon Info</h3>

  <ul class="list">
    <li><span>Merchant</span> <em><%= @book.amazon_merchant %></em></li>
    <li><span>Price</span> <em class="price"><%= number_to_currency @book.amazon_price %>
    <% if @book.amazon_strike_price.present? %>
      <strong class="strike_price">(<strike><%= number_to_currency @book.amazon_strike_price %></strike>)</strong>
    <% end %>
    </em>
    </li>
    <li><span>Cover</span> <em><%= @book.amazon_cover_type %></em></li>
    <li><span>Books in Set</span> <em><%= @book.books_in_set %></em></li>
    <li><span>Availability</span> <em><%= @book.amazon_availability %></em></li>
    <% if @book.amazon_product_url.present? %><li><%= link_to 'Amazon Product Page', @book.amazon_product_url %></li><% end %>
    <% if @book.amazon_wl_cart_url.present? %><li><%= link_to 'Amazon Add to Cart', @book.amazon_wl_cart_url %></li><% end %>

  </ul>

  </div>



  <div class="statbox">
  <h3>Wish List</h3>
  <ul>
  <li><span>Added</span> <% if @book.amazon_wl_add_date.present? %><em><%= @book.amazon_wl_add_date.to_formatted_s(:long) %></em><% end %></li>
  <li><span>Priority</span> <% if @book.amazon_wl_priority.present? %><em><%= @book.amazon_wl_priority %></em><% end %></li>
  <li><span>Comment</span> <% if @book.amazon_wl_comment.present? %><em class="comment"><%= @book.amazon_wl_comment %></em><% end %></li>
  </div>

</div>


</div>
