<%= simple_form_for(@press) do |f| %>
  <% if @press.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@press.errors.count, "error") %> prohibited this press from being saved:</h2>

      <ul>
      <% @press.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputs">
    <%= f.input :url %>
    <%= f.input :source %>
    <%= f.input :date %>
    <%= f.input :author %>
    <%= f.input :title %>
    <%= f.input :summary %>
    <%= f.input :embed %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
