
<div class="admin">
  
  <em>Admin Bar</em>
  
  <nav>
    <%= tab_for "Books", books_path %>
    <%= tab_for "FAQs", users_path %>
    <%= tab_for "Schools", users_path %>
    <%= tab_for "Press", press_index_path %>
    <%= tab_for "Donors", donors_path %>
    <%= tab_for "Users", users_path %>
    <strong>
      <%= tab_for "Logout", destroy_user_session_path %>
    </strong>
  </nav>

  
</div>