
<div class="admin">
  
  <em>Admin Bar</em>
  
  <div class="nav">
    <% if permitted_to? :manage, :books %>
      <%= tab_for "Books", books_path %>
    <% end %>
    <% if permitted_to? :manage, :faqs %>
      <%= tab_for "FAQs", users_path %>
    <% end %>
    <% if permitted_to? :manage, :schools %>
      <%= tab_for "Schools", schools_path %>
    <% end %>
    <% if permitted_to? :manage, :press %>
      <%= tab_for "Articles", articles_path %>
    <% end %>
    <% if permitted_to? :manage, :donors %>
      <%= tab_for "Donors", donors_path %>
    <% end %>
    <% if permitted_to? :manage, :users %>
      <%= tab_for "Users", users_path %>
    <% end %>
    <strong>
      <%= tab_for "Logout", destroy_user_session_path %>
    </strong>
  </div>

  
</div>