<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
  <title>Richmond Book Drive<%= yield(:title) %></title>
  
  <%= render 'layouts/assets' %>

  <%= yield :head %>

  <%= csrf_meta_tag %>
</head>
<body>

  <div class="container <% if admin_page? %>admin_container<% end %>">

    <%= render 'layouts/header' %>
        
    <%= yield :video %>

    <div id="section">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
    
  </div>

  <% !user_signed_in? %>
    <%= render 'layouts/analytics' %>
  <% end %>
  
</body>
</html>
