<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
  <title>Richmond Book Drive<%= yield(:title) %></title>
  
  <%= render 'layouts/assets' %>

  <%= csrf_meta_tag %>
</head>
<body>

  <div class="container <% if admin_page? %>admin_container<% end %>">

    <%= render 'layouts/header' %>
    
    <% if user_signed_in? %>
      <%= render 'layouts/adminbar' %>
    <% end %>
    
    <%= yield :video %>

    <section>
      <%= yield %>
    </section>

    <%= render 'layouts/footer' %>
    
  </div>

  <% if ENV['RAILS_ENV'] == 'production' %>
  <%= render 'layouts/analytics' %>
  <% end %>
  
</body>
</html>
