<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
  <title>Richmond Book Drive<%= yield(:title) %></title>
    
  <%= render 'layouts/assets' %>

  <%= yield :head %>

  <%= csrf_meta_tag %>

  <% if !user_signed_in? || hold_flash_notices %>
    <%= render 'layouts/analytics' %>
  <% end %>
    
</head>
<body>

  <div class="container <% if admin_page? %>admin_container<% end %>">

    <%= render 'layouts/header' %>
        
    <%= yield :video %>

    <%= yield :library %>
    
    <div id="section">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
    
  </div>
  
</body>
</html>
