<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) || "Richmond Book Drive" %></title>
  <%= render 'layouts/stylesheets' %>
  
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div class="container">

    <%= render 'layouts/header' %>


    <%= yield :video %>

    <section class="round">
      <%= yield %>
    </section>

    <%= render 'layouts/footer' %>
    
  </div>

  <% if ENV['RAILS_ENV'] == 'production' %>
  <%= render 'layouts/analytics' %>
  <% end %>
  
</body>
</html>
