<!DOCTYPE html>
<html>
<head>
  <title>Bookdrive</title>
  <%= render 'layouts/stylesheets' %>
  
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div class="container">

    <%= render 'layouts/header' %>


    <%= yield :video %>

    <section class="round">
      <%= yield %>
    </section>

    <%= yield :widget %>

    <%= render 'layouts/footer' %>
    
  </div>

</body>
</html>
